{{/* Retrieve the resource needed */}}
{{ $src:= .Page.Resources.GetMatch (.Get "src") }}

{{/* Set some useful variables */}}
{{ $name:= strings.TrimSuffix (path.Ext $src.Name) $src.Name }}

{{/* Create the figure */}}
<figure class="single-image">
    {{/* <a href="#image-{{ $name }}-lightbox" id="image-{{ $name }}-anchor"> */}}
        <img src="{{ $src.Name }}" >
    {{/* </a> */}}
    {{ if or (.Get "desc") (.Get "loc") (.Get "date") (.Get "cam") (.Get "set") }}
    <figcaption class="photo_description">
      <div class="figca" >
        <p class="photo_description">
          {{ with .Get "desc" }}{{ . }}{{ end }}
        </p>
      </div>
      <div class="figca" >
        <p class="photo_location">
          {{ with .Get "loc" }}{{ . }}{{ end }}
          {{ if and (.Get "loc") (.Get "date") }}{{" - "}}{{ end }}
          {{ with .Get "date" }}{{ . }}{{ end }}
        </p>
        <p class="photo_settings">
          {{ with .Get "cam" }}{{ . }}{{ end }}
          {{ if and (.Get "cam") (.Get "set") }}{{" - "}}{{ end }}
          {{ with .Get "set" }}{{ . }}{{ end }}
        </p>
        </div>
    </figcaption>
    {{ end }}
</figure>
